@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(-45deg, #81CACF,#355764); 
  margin: 0 10px;
}
.bodyWrapper {
  background: linear-gradient(-45deg, #F0EBE3, #e9fbf4);
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 3px #c5c4c4
}

.bodyWrapper h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  
}

.contact-form-wrapper {
  margin: 20px;
}

form label {
  display: block;
  color: #4C3A51;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 5px;
  
}

#track {
  display: block;
  padding: 13px 0 13px 25px;
  width :100%;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 2px;
  word-wrap: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
  box-shadow: 1px 3px #c5c4c4;
  
}

#countryCode {
  display: block;
  padding: 13px 8px 13px 0px;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  font-size: 16px;
  color: #555555;
  box-shadow: 1px 3px #c5c4c4;
  text-align: left;
}

form input {
  padding: 13px 0 13px 25px;
  width :100%;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 2px;
  word-wrap: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
  box-shadow: 1px 3px #c5c4c4
}
.pNumber_cont {
  display: flex;
  justify-content: space-between;
}

form select option {
  text-align: center;
}
.space{
  margin-bottom: 20px;
}
.buttons-cont{
  display: flex;
  justify-content: space-between;
}
.buttons-cont button{
  margin-top: 10px;
  background: #355764;
  color:#F0EBE3;
  width: 48%;
  padding: 10px;
  text-align: center;
  border: 2px solid #4C3A51;
  font-weight: bold;
  margin-bottom: 20px;
  box-shadow: 1px 3px #c5c4c4;
  border-radius: 5px;
  
}
.buttons-cont button:hover{
  margin-top: 10px;
  background: #F0EBE3;
  color:#355764;
  font-weight: bold;
  border: 2px solid #4C3A51;
  text-align: center;
  box-shadow: 1px 3px #c5c4c4;
  border-radius: 5px;
}
.circleLogo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.circleLogo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 1px 3px #c5c4c4;
}
#m_logo img {
  width : 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 3px #c5c4c4;
}

#m_logo p {
  width : 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 3px #c5c4c4;
  word-wrap: break-word;
  text-align: center;
  font-size: 0.75em;
  padding-top: 13px;
  color: #555555;
}

.p_NumberInput input::placeholder{
  font-size: 0.75em;
}